<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasking · Footer</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link rel="stylesheet" href="../../static/css/main.css" th:href="@{../../css/main.css}">
</head>
<body>
<div class="tsk-footer" th:fragment="footer">
    <footer style="background-color: DarkGrey;">
        <p style="margin-left: 10px;">
            <u>
                <font color="white">
                    FileSpace © 2018
                </font>
            </u>
            <l>
                <font color="white">
                    | Bug's ou sugestão de desenvolvimento?
                    <a href="mailto:marcelo.domingues@sankhya.com.br">
                        marceloevo@gmail.com
                    </a>
                </font>
            </l>
        </p>
    </footer>
</div>
</body>
</html>