#mainSection {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 91vh;
    grid-template-columns: 15vw 85vw;
    grid-template-areas: "article aside";
    overflow: hidden;
}

#mainArticle {
    grid-area: article;
    border-color: WhiteSmoke;
    border-style: solid;
    border-width: medium;
    padding: 10px;
}

#mainArticle .row button{
    margin: 10px;
    width: 100vw;
}

#mainAside {
    grid-area: aside;
    overflow: auto;
}

.group-details-task {
    padding: 20px;
}

/*BreakPoint*/

@media screen and (max-width:860px) {
    #mainSection {
        grid-template-rows: 20vh 80vh;
        grid-template-columns: 100vw;
        grid-template-areas: "article" "aside";
    }

}
