#mainSection {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 30vh;
    grid-template-areas: "content aside";
}

#mainArticle {
    border-color: WhiteSmoke;
    border-style: solid;
    border-width: medium;
    padding: 10px;
}

#mainArticle .row button{
    margin: 10px;
    width: 100vh;
}

#mainAside {

}

/*BreakPoint*/

@media screen and (max-width:750px) {
    #mainSection {
        grid-template-rows: 20vh 80vh;
        grid-template-columns: 100vh;
        grid-template-areas: "content" "aside";
    }

}
